* {
    font-family: Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0rem 10rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 50px;
    margin: 150px 0px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 50%;
}

.hero-main h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-main p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main button,
.box-sign-up button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 6px 2rem;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-main button {
    border: none;
}

.box-sign-up button {
    border: 2px solid #F9FAF8;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex: 50%;
}

.info-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
}

.info-board h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    height: 200px;
    width: 200px;
    border: 4px solid blue;
    border-radius: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.autor {
    position: relative;
    left: 75%;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.box-sign-up {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 2rem 6rem;
    border-radius: 1rem;
    gap: 10rem;
    color: #F9FAF8;
}

.footer {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 2rem;

}